// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

.header {
	padding: 8px;
}

.body {
	border-top: #e0e0e0 1px solid;
}

a:hover{
	text-decoration: none !important;
}