%div
	.header.form-inline
		.col-md-3
			%a{'href': '/'}
				%img{'alt': 'Appointment', 'width': '31', 'height': '31', 'src': '/assets/images/logo.png'}/
		.col-md-6.text-center
			%a{'href': '/'}
				%h1 Time is Money
		.col-md-3		
			%h1 Some gadgets

	.body.form-inline
		.col-md-3
			= react_component('Appointments', appointments: @appointments)
		.col-md-9
			%h3 big date picker

	.footer.text-center
		%p	Copyright ©1989 - #{@copyright_date}. All rights reserved. Use of this site is subject to certain Terms and Conditions.
