.container-fluid
	.header
		.col-md-3
			%h1 React-Rails Calendar
		.col-md-6
			%h1 Appointments
		.col-md-3		
			%h1 Some gadgets

	.body
		= react_component('Appointments', appointments: @appointments)

	.footer
		%p	Copyright ©1989 - #{@copyright_date}. All rights reserved. Use of this site is subject to certain Terms and Conditions.
